body{
  margin:0px;
	padding:0px;
	font-size:13px;
	line-height:20px;
	color:#474632;
	font-family:Arial, Helvetica, sans-serif;
	background-color:#999d8f;
}
.main{
  width:1000px;
	margin:0 auto;
	padding:10px 0 10px 0;
}

#header {
	padding:0px;
}

.img{
  background: url(./image/header.jpg);
  height:177px;
	padding:90px 95px 0 95px;

}
.img h1{
  font-size:32px;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#daddd6;
	margin:0px;
	padding:0px 0px 10px;
}
.img p{
  font-size:16px;
	margin-left:1px;
	color:#daddd6;
}
.navigation{
    border-bottom: #adb1b2 solid 1px;
    padding: 15px 5px;
    background: #282924;

}
.navigation ul{
	margin:0px;
	padding:0px;
}
.navigation ul li{
  display: inline;
  padding:0px 35px;
  font-size:15px;
  border-right: thin solid  #b2b3ad;
}
.navigation ul li:last-child {
  border-right: 0;
}

.navigation ul li a{
	color:#d9dfd1;
	text-decoration:none;
}
.navigation ul li a:hover{
	text-decoration:underline;
}

.page_content{
	background-color:#dae1d1;
  padding:10px;
}
.page_content{
  background-color: #c7d1b8;
}
.page_content .left_section{
  background-color:#dae1d1;
  padding:15px;
  width:740px;
}
.right_side_bar{
	width:190px;
  margin-top:10px;
  padding:0px 0px 0px 100px;
	float:right;
}
.column_one{
	width: 244px;
	/* float:left; */
	margin-bottom:20px;
}
.column_two{
  width: 346px;
  float:right;
  margin-bottom:20px;
}
.box ul li{
  background:url(image/li.png) no-repeat left center;
  list-style-type:none;
  margin:0px 0px 8px;
  padding:0px 0px 0px 15px;
  font-size:12px;
}
.box ul li a{
  color:black;

}
.box ul li a:hover{
	color:#283d2c;
	text-decoration:none;
}
.col_1 h1{
 background:url(./image/star.png) no-repeat left center;
 padding: 0 0 0 25px;
}
.footer{
text-align:center;
}
.clear-float {
  clear: both;
}
.top_content {
 column-count: 2;
 column-gap: 20px;
}
